* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.text {
  font-family: Arial;
  font-style: normal;
}
#bold, #italic, #underline{
    border-radius: 10px;
    /* background-color: rgb(245, 245, 16); */
}